.menu {
  display: flex;
  height: 100px;
  width: auto;
  border-bottom: 1px solid #dbdee6;
  align-items: center;
  justify-content: center;
  position: static;

  .menu-link {
    display: flex;
    bottom: -1px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #041434;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 24px;
    margin: 0 4px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #6a758a;
    }

    &.-active {
      border-bottom: 1px solid #f97664;
    }
  }
}
